<h6 class="sidebar">Personal</h6>
<% projects.each(function(project){ %>
<% if (project.get('team_id') === 0) {  %>
    <span class="project-link" data-id="<%=project.id%>">
      <%= project.escape('name') %> 
    </span> <br>
<% } %>
<% }) %>
<input placeholder="Personal project..." type="text" id="form-personal" class="span10">
