<div class="team-page">
<h3> <%= team.escape('name') %></h3>
<br><h6 class="member-list"> Member List</h6>
<% team.users().each(function(member){ %>
  <p class="member-name"><%= member.get('name') %></p>
<% }) %>
<br>

<select class="form-control add-users">
  <option value="">Add a team member...</option>
<% users.each(function(user){ %>
  <% if (user.id === Breath.user.id) { return } %>
  <% if (team.users().get(user.id))  { return } %>
  <option value="<%= user.id %>"><%= user.escape('name') %></option>
<% }) %>
</select><br><br>
<button class='leave btn btn-lg btn-danger'>Leave team</button>
</div>
