<h6 class="sidebar-header"><i class="fa fa-users"></i> <%= team.escape('name') %></h6>

<% team.projects().each(function(project){ %>
<div class="project-link" data-id="<%=project.id%>">
  <span>
    <i class="fa fa-list-ul"></i>  <%= project.escape('name') %>
  </span> <br>
</div>
<% }) %>
<input placeholder="Team project..." type="text" id="form-team" class="span10">
