<div class='row-fluid'>
  <div class="span3 offset1 sign-in">
    <h1 id="log_in">Sign up</h1>
    <%= render 'layouts/form_users',
      action: users_url, update: false, button_name: "Create User" %>
  </div>

  <div class="span4 offset1 ">
    <br><br><br>
    <div class="alert alert-block">
      <p>This database gets reset every night to seed with sample data.</p>

      <p>Feel free to create an account to demo the app, but it will be erased at midnight.</p>
    </div>
  </div>
</div>
