<h5> Comments </h5>
<ul>
<% comments.each(function(comment){ %>
<% var commenter = Breath.users.get(comment.get('commenter_id'))%>
<li> <%= comment.escape('body') %> ~ <span class="label label-inverse"><%= commenter.escape('name') %></span> </li>
<% var commentDate = new Date(comment.get('created_at')) %>
<%= commentDate.toLocaleDateString() + ', ' + commentDate.toLocaleTimeString() %>
<% }) %>
</ul>

<textarea placeholder="Comment..." class="form-control comment-box"></textarea>
