<div class='row-fluid'>
  <div class="span2 app-sidebar">
    <h3 class="banner"><i class="fa fa-check-square-o fa-lg"> </i> breath </h3>
    <h6 class="task_index sidebar-header"><%= current_user.name %>'s tasks</h6>
    <br><br><br><br>
  </div>
  <div class="span8 index">
    <br><br><br> <h3 class="team-page">breath.io is loading</h3> <br><br>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 99%;"></div>
    </div><br><br><br>
  </div>
  <div class="span4 task-detail">
    <script>$('.task-detail').hide()</script>
    <div>
      <h5> Select a task to view it's details </h5>
      <br><br><br><br>
    </div>
  </div>
</div>

  <div class="user-alerts alert">
    <script>$('.user-alerts').hide()</script>
  </div>
<script type='text/javascript'>
$(document).ready(function(){
  Breath.initialize();
});
</script>


