  <div class='row-fluid'>
    <div class="span3">
      <h3>Breath</h3>
      <div class="app-sidebar"></div>
    </div>
    <div class="span6">
      <div class="index"></div>
    </div>
    <div class="span3">
      <h3> check </h3>
      <div class="task-detail"></div>
    </div>
  </div>

<script type='text/javascript'>
$(document).ready(function(){
    Breath.initialize();
    });
</script>


