  <div class='row-fluid'>
    <div class="span2">
      <h3>Breath</h3>
      <div class="app-sidebar"></div>
    </div>
    <div class="span5">
      <div class="index"></div>
    </div>
    <div class="span4">
      <div class="task-detail"></div>
    </div>
  </div>

<script type='text/javascript'>
$(document).ready(function(){
  Breath.initialize();
});
</script>


