<div class='row-fluid'>
  <div class="span2 app-sidebar">
  </div>
  <div class="span5 index">
  </div>
  <div class="span4 task-detail">
    <div>
      <h5> Select a task to view it's details </h5>
      <br><br><br><br>
    </div>
  </div>
</div>

<script type='text/javascript'>
$(document).ready(function(){
  Breath.initialize();
});
</script>


