// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: #95a5a6;
}

.project-link:hover{ color: #3498db; }
.task_index:hover{ color: #3498db; }
.sidebar-header:hover{ color: #3498db; }
.task_list:hover{ color: #3498db; }


.index {
  background: #ecf0f1;
  border-radius: 5%;
  padding: 10px;
  margin-top: 20px;
}

.task-detail div{
  background: #ecf0f1;
  border-radius: 5%;
  padding: 10px;
  margin-top: 20px;
}

.app-sidebar{ 
  background: #ecf0f1; 
  margin-top: 20px;
  border-radius: 2%;
}

.app-sidebar div{
  padding: 5px 20px 5px 3px;
}

.completed-task{
  text-decoration: line-through;
}
