// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: #34495e;
}

.banner { color: #34495e; margin-left: 5px; }
.project-link { padding: 0px 5px 0px 5px ; }

.span2 input{
  background: #34495e;
  color: #ecf0f1;
  margin-top: 5px;
}

.team-page{ margin-left: 5px; margin-bottom: 5px }
.sort { margin-left: 5px; }
.project-link:hover{ color: #3498db; }
.feature { margin-left: 5px; }

.sidebar-header {
  padding: 0px 5px 0px 5px ;
  margin: 0px
}

.sidebar{
  padding: 0px 5px 0px 5px ;
  margin: 0px
}

.sidebar-header:hover{ color: #3498db; }

.task_list:hover{ color: #3498db; }

.index {
  background: #ecf0f1;
  width: 100%;
  margin-top: 5px;
}

.project-title { margin-left: 5px; }

.ui-state-highlight { 
  background: #34495e;
  height: 1.5em; 
  line-height: 1.2em; 
}

.task-detail div{
  background: #ecf0f1;
  padding: 5px 5px 0px 5px;
  margin-top: 5px;
}

.app-sidebar{ 
  background: #ecf0f1; 
  margin-top: 5px;
  padding-bottom: 50px;
}

.sign-in {
  background: #ecf0f1; 
  margin-top: 5px;
  padding: 20px;
}

.completed-task{
  text-decoration: line-through;
  color: #7f8c8d;
}

.completed:hover{
  color: #3498db;
}

.task-edit-form { 
  border-bottom: thin solid #bdc3c7; 
  margin-bottom: 0px;
}

.tasks { 
  width: 100%;
  border-bottom: thin solid #bdc3c7;
  margin: 0px;
  position: relative
}

.badger { 
  position: relative;
}
.badgey { 
  position: absolute;
  margin-left: 5px;
  bottom: 0; 
}

.stars{
  margin-right: 5px;
}
.badgey i { margin-right: 15px }
.task_list { position: absolute; bottom: 0; }
.due-date { position: absolute; bottom: 0; }

.tasks:hover{
  background: #34495e;
  color: #3498db; 
}

.file-form{ color: #ecf0f1; }

.user-alerts {
  position: absolute;
  background: #ecf0f1;
  left: 0;
  bottom: 0;
  padding: 40px;
}

.subtask-list:hover { color: #3498db; }

.sortbutton { padding-left: 5px }
