<h3 class="task_index sidebar-header banner"><i class="fa fa-check-square-o fa-lg"> </i> breath </h3><br>
<input placeholder="Search tasks..." type="search" id="search-tasks" class="span10">

<input placeholder="Create a team..." type="text" id="new-team" class="span10">
